{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="w-full max-w-[1280px]">
        {% for message in app.flashes('info') %}
            <div class="flex justify-center">
                <p class="bg-amber-200 text-center py-3 px-5 mt-4 rounded">{{ message }}</p>
            </div>
        {% endfor %}
        <section class="m-7 flex p-7 border-solid border-[3px] border-white rounded-xl flex-col">
            <h1 class="text-gray-700 text-2xl">Bienvenue sur le mini-jeu <strong>Code Secret Numérique</strong></h1>
            <div class="flex">
                <article class="bg-zinc-600 text-white p-4 rounded max-w-[500px] mt-8 ml-2">
                    <h2 class="text-center text-xl mb-4 font-bold">Règle</h2>
                    <p class="mt-12">Il s'agit d'un mini-jeu où vous devez trouver le code secret composé de 4 à 9 chiffres.</p>
                    <p class="mt-8 underline">Difficulté ( Normale ) :</p>
                    <p class="mt-2">À chaque tentative, vous recevrez des indications sur les chiffres correctement placés <span class="bg-[#32CD33] text-black px-2 py-1">?</span> et les chiffres présents mais mal placés <span class="bg-[#FFD701] text-black px-2 py-1 rounded-2xl">?</span> dans le code secret.</p>
                    <p class="mt-8 underline">Difficulté ( Difficile ) :</p>
                    <p class="mt-2">À chaque tentative, vous recevrez un seul nombre qui représente les chiffres correctement placés, suivi d'un autre nombre représentant les chiffres présents mais mal placés.</p>
                    <p class="text-end mt-12">À vous de trouver le code secret !</p>
                </article>
                <div class="p-4 m-auto bg-gray-50 rounded w-[400px]">
                    <h2 class="text-center text-xl mb-4 font-bold">Nouvelle partie</h2>
                    {{ form_start(form) }}
                    <fieldset class="border-2 border-gray-700 rounded p-4 pt-2 mt-4">
                        <legend class="bg-gray-700 text-white py-1 px-2 rounded">Créer une partie</legend>
                        <small class="block text-center">(Mode)</small>
                        {{ form_row(form.mode, {label_class: "hidden", attr: {class: 'inline-radio'} }) }}
                        <small class="block text-center">(Multijoueur uniquement)</small>
                        {{ form_row(form.private, {label_class: 'hidden', attr: {class: 'inline-radio'} }) }}
                        <small class="block text-center">(Difficulté)</small>
                        {{ form_row(form.difficulty, {label_class: "hidden", attr: {class: 'inline-radio'}}) }}
                        {{ form_row(form.codeLength, {label: 'Longueur du code Secret:', widget_class: 'm-2', label_class: 'underline'}) }}
                    </fieldset>
                    <fieldset class="border-2 border-gray-700 rounded p-4 mt-5">
                        <legend class="bg-gray-700 text-white py-1 px-2 rounded">Rejoindre une partie <small>(en ligne)</small></legend>
                        <a class="btn w-full text-center" href="?fast=true">Trouver une partie <small>(Public)</small></a>
                        <p class="mt-4">Ou chercher une partie avec l'identifiant :</p>
                        {{ form_row(form.joinGame, { label_class:'hidden' }) }}
                    </fieldset>
                    <div class="w-full flex justify-center">
                        <button type="submit" class="btn shadow-custom mt-4">Démarrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
